doctype 5
html(lang="en")
	head
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		title Reconomise
		link(href='http://fonts.googleapis.com/css?family=Nunito', rel='stylesheet', type='text/css')
		link(type="text/css", rel="stylesheet", href="map.css")
		script(src="http://maps.google.com/maps/api/js?sensor=false")
		script(src="libs/jquery.js")
		script(src="libs/underscore.js")
		script(src="libs/handlebars.js")
		script(src="map.js")

	body
		div.main
			h1 Reconomise
			#sensis Powered by
				img(src="images/sensis_logo.png")
			
			div.header
				span.action
					a#need-button(href="javascript:void(0)") + Need
				span.action
					a#offer-button(href="javascript:void(0)") + Offer
					
			div#map-container
				div#map
				
			div.needs
				div.needs_list#needs-list
				div.offers_list#offers-list
				div.needs_details#needs-details

		#form-backdrop

		.form#need-form
			fieldset
				label 
					span Postcode:
					input#need-postcode(type="text")
				
				label 
					span Business Name:
					input#need-business-name(type="text")
				
				label 
					span We Need:
					input#need-type(type="text")
				
				label 
					span Hours needed within:
					input#need-urgency(type="number")
				
				label 
					span Comments:
					textarea#need-comments(type="text")
				
				button.submit Add Need
		
		.form#offer-form
			fieldset
				label 
					span Postcode:
					input#offer-postcode(type="text")

				label 
					span Business Name:
					input#offer-business-name(type="text")

				label 
					span We Can Offer:
					input#offer-type(type="text")

				label 
					span Hours Available For:
					input#offer-availability(type="number")

				label 
					span Comments:
					textarea#offer-comments(type="text")

				button.submit Add Offer