<h2>{{sensis_data.name}}</h2>

<h3>Address</h3>
{{sensis_data.primaryAddress.addressLine}}<br />
{{sensis_data.primaryAddress.suburb}}<br />
{{sensis_data.primaryAddress.state}}, {{sensis_data.primaryAddress.postcode}}

<h3>Contact</h3>
{{#each sensis_data.primaryContacts}}
  <b>{{type}}:</b> {{value}}<br />
{{/each}}

{{#if needs}}
  <h3>Needs</h3>
  <ul>
    {{#each needs}}
      <li>
        <h4>{{type}}</h4>
        {{comments}}<br />
        <em>({{urgency}} hours remaining)</em>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if offers}}
  <h3>Offers</h3>
  <ul>
    {{#each offers}}
      <li>
        <h4>{{type}}</h4>
        {{comments}}<br />
        <em>(available for another {{availability}} hours)</em>
      </li>
    {{/each}}
  </ul>
{{/if}}